<div class="container">
    <div class="box">
        <button (click)="result(0)">{{ randoms[0] }}</button>
        <button (click)="result(1)">{{ randoms[1] }}</button>
        <button (click)="result(2)">{{ randoms[2] }}</button>
        <button (click)="result(3)">{{ randoms[3] }}</button>
        <button (click)="result(4)">{{ randoms[4] }}</button>
        <button (click)="result(5)">{{ randoms[5] }}</button>
    </div>
    <h1 class="text-center">You have selected</h1>
    <div class="text-center">
        <input type="number" [value]="value">
    </div>
</div>